<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        textarea {
            width:400px;
            height:200px;
            font-size:17px;
        }
        .error {
            color: red
        }
        label {
            display: block;
            font-size: 20px;
        }
    </style>
    <title>New Blog Entry</title>
</head>
<body>
<h1> New Blog Post</h1>
<form action="/blog/newpost" method="post">
    <label>
        <div>Title of Blog</div>
        <input type="text" name="subject" value="{{title}}"/>
    </label>
    <label>
        <div>Blog Entry</div>
        <textarea name="content">{{entry}}</textarea>
    </label>
    <br>
    <div class="error">{{error}}</div>
    <input type="submit" name="submitentry"/>
</form>
</body>
</html>